.content-gestionar{
	table{
		tbody{
			td{
				a{
					margin-right: 5px;
				}
				form{
					margin-left: 5px;
					button{
						margin: 0;
					}
				}
			}
		}
	}
	.btn-container{
		margin: 10px 0;
	}

}