header{
	background-color: white;
	@media (min-width: 768px) {
		height: 100px;
	}
	.container{
		height: 100%;
		.row{
			height: 100%;
			padding: 10px 0;
			@media (min-width: 768px) {
				padding: 0;
			}
			.col-12{
				img{
					height: 90px;
				}
			}
		}
	}
}

nav{
	.breadcrumb{
		margin-bottom: 0;
	}
}