<% include partials/head %>

<div class="section-center d-flex align-items-center justify-content-center flex-column content-index">

	<div class="title text-center">
		<h1>COMPETENCIA</h1>
	</div>
	
	<div class="container">
		<div class="row text-center">
			<div class="col-12 col-md-4"><a href="crear"><button type="button" class="btn btn-secondary btn-lg text-uppercase">Crear</button></a></div>
			<div class="col-12 col-md-4"><a href="listar"><button type="button" class="btn btn-secondary btn-lg text-uppercase">Modificar</button></a></div>
			<div class="col-12 col-md-4"><a href="iniciar"><button type="button" class="btn btn-secondary btn-lg text-uppercase">Iniciar</button></a></div>
		</div>
	</div>
</div>

<% include partials/foot %>