<% include partials/head %>

<div class="section-center d-flex align-items-center justify-content-center flex-column content-index">

	<div class="title text-center">
  		<h1>ERROR</h1>
  	</div>

	<div class="container text-center">
		<h3><%= mensaje %></h3>
	</div>

</div>

<% include partials/foot %>

