<% include partials/head %>

<div class="section-center d-flex align-items-center justify-content-center flex-column content-index">

  <div class="title text-center">
    <h1>GESTIONAR</h1>
  </div>
  
  <div class="container">
    <div class="row text-center">
      <div class="col-12 col-md-4"><a href="atleta"><button type="button" class="btn btn-secondary btn-lg text-uppercase">Atletas</button></a></div>
      
      <div class="col-12 col-md-4"><a href="categoria"><button type="button" class="btn btn-secondary btn-lg text-uppercase">Categorías</button></a></div>
      
      <div class="col-12 col-md-4"><a href="club"><button type="button" class="btn btn-secondary btn-lg text-uppercase">Club</button></a></div>
        
     
    </div>
   
  </div>


</div>




<% include partials/foot %>