<% include partials/head %>


<div class="section-center d-flex align-items-center justify-content-center flex-column content-index">

	<div class="title text-center">
		<h1>IDT</h1>
		<h1>ATLETISMO</h1>
	</div>

	<div class="container">
	
	<div class="container" display="block" <!--style="visibility:hidden;"-->
		<div class="row text-center">
			<div class="col-12 col-md-4"><a href="index/competencia"><button type="button" class="btn btn-secondary btn-lg text-uppercase">Competencia</button></a></div>
			
			<div class="col-12 col-md-4"><a href="index/gestionar"><button type="button" class="btn btn-secondary btn-lg text-uppercase">Gestionar</button></a></div>
			
			<div class="col-12 col-md-4"><a href="index/historial"><button type="button" class="btn btn-secondary btn-lg text-uppercase">Historial</button></a></div>
		</div>
	

	</div>
	</div>

<% include partials/foot %>