<% include partials/head %>


<div class="section-center d-flex align-items-center justify-content-center flex-column content-index">

	<div class="title text-center">
		<h1>IDT</h1>
		<h1>ATLETISMO</h1>
	</div>

	<div class="container">
	
	<div class="container" display="block" <!--style="visibility:hidden;"-->
		<div class="row text-center">
			<div class="col-12 col-md-4"><a href="competencia"><button type="button" class="btn btn-secondary btn-lg text-uppercase">Competencia</button></a></div>
			
			<div class="col-12 col-md-4"><a href="gestionar"><button type="button" class="btn btn-secondary btn-lg text-uppercase">Gestionar</button></a></div>
			
			<div class="col-12 col-md-4"><a href="historial"><button type="button" class="btn btn-secondary btn-lg text-uppercase">Historial</button></a></div>
		</div>
		<div class="row text-center" id="User1">
			<div class="col-12 col-md-4" style="margin-left: 380px;" ><a href="Usuarios"><button type="button" class="btn btn-secondary btn-lg text-uppercase">Gestionar Usuarios</button></a></div>
		</div>

	</div>
	</div>

	<div id="loginModal" class="modal fade in" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<form class="text-center" action="/Usuarios/login" method="post" id="Login">
				<div class="modal-header">
					<h5 class="modal-title">Login</h5>
					<a href="/"><img src="img/idt.png" alt="Logo IDT"></a>
					
				</div>
					<div class="modal-body">
	
						<div class="form-group row align-items-center">
							<label for="usuario" class="col-md-4 col-form-label">Usuario:</label>
							<div class="col-md-8">
								<input type="text" class="form-control" name="nombre_usuario" placeholder="Usuario" required>
							</div>
						</div>
	
						<div class="form-group row align-items-center">
							<label for="contraseña" class="col-md-4 col-form-label">Contraseña:</label>
							<div class="col-md-8">
								<input type="text" class="form-control" name="clave" placeholder="Contraseña" required>
							</div>
						</div>
	
					</div>
	
					
					<div class="modal-footer"></div>
						<button type="submit" class="btn btn-success btn-lg ">Entrar</button>
						
					</div>
	
				</form>
	
			</div>
		</div>
	</div>
	





<% include partials/foot %>